/* Add some basic styling to the form */
form {
    width: 400px;
    padding: 20px;
    height: 100%;
}

/* Style the labels and inputs */

/* Style the submit button */
button[type="submit"] {

    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #042145;
    border: 1px solid #bedbff;
    color: #bedbff;
}


.modal-title {
    font-family: DM Sans;
}

.modal-body {
    font-family: DM Sans;
    font-size: small;
}

.submit1 {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #373e47b3;
    border: 1px solid #e5534b;
    font-family: DM Sans;
    font-size: small;
    color: #dbd8e3;
}


.sticky button+button {
    margin-left: 10px;
}


.modal-body,
.board-form-inner2 {
    width: fit-content;
}

.modal-content {
    background-color:#22272e;
    color: #ffffff;
    position: absolute;
    top: 250px;
    border-radius: 15px;
    border: none;
}

.close {
    color: #ffffff;
}


.modal-header {
    cursor: move;
    
}

.modal-dialog {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Make the form responsive */
@media (max-width: 600px) {
    form {
        margin: 20px;
    }
}