.dashboard {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background: #F7F7F7;
    width: auto;
    height: 810px;
  }

  /*Log Out*/  
  .logout {
    top: 20px;
    left: 1288px;
    position: absolute;
    display: flex;
    overflow: hidden;
    width: 120px;
    justify-content: center;
    border: none;
    background-color: #F443366B;
    font-family: montserrat;
    font-weight: 600;
    border-radius: 10px;
    color: indianred;
  }



.modal-body,
.modal-content,
.board-form-inner2,
.board-form-inner1 {
    overflow: hidden;
    width: fit-content;
    border-radius: 10px;
    border-radius: 20px;
    background-color: #333333;
    border: none;
    top: 20px;
}

.kanban-board { 
    top: 140px;
    left: 62px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    width: 1353px;
    height: 600px;
}

.example-list { 
    width: 100%;
    background-color: #333333; 
    border-radius: 25px;
    margin: 0 8px;
    display: inline-block;
    vertical-align: top;
    height: 115%;
    overflow: hidden;
    padding: 40px;
    top: -70px;
    position: relative;
}


.add-icon {
    color: #333333;
    border: none;
    background-color: #706C61;
    border-radius: 20px;
    position: relative;
    display: flex;
}

.column-lenght {  /*taskcount*/
    position: absolute;
    background-color: #E1F4F3;
    top: 7px;
    left: -10px;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        color: #333333;
        font-weight: 600;
        font-size: 16px;
        font-family: Montserrat;
    }
}


  .h2-container { /*TODOINPROGRESSDONEBAR*/
      position: relative;
      display: flex;
      border-radius: 15px;
      width: 423px;
      height: 45px;
      top: -35px;
      left: -15px;
      align-items: center;
      justify-content: center; 
  }

 h2 {
    padding: 2px;
    margin: 10px;
    color: #FFFFFF;
    font-size: large;
    font-weight: 600;
    text-align: center;
    font-family: montserrat;
}