<div class="dashboard">
    <!--Search Bar-->
    <div class="search-bar">
        <div class="search-body">
          <svg width="646" height="35" viewBox="0 0 646 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="646" height="35" rx="17.5" fill="#5C5470" fill-opacity="0.7"/>
          </svg>
        </div>
    
        <p class="atxt">aA</p>
        <p class="urltxt">kanban.com</p>
        <a href="dashboard" class="reload-icon">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.5 10C17.5 11.4834 17.0601 12.9334 16.236 14.1668C15.4119 15.4001 14.2406 16.3614 12.8701 16.9291C11.4997 17.4968 9.99168 17.6453 8.53683 17.3559C7.08197 17.0665 5.7456 16.3522 4.6967 15.3033C3.64781 14.2544 2.9335 12.918 2.64411 11.4632C2.35472 10.0083 2.50325 8.50032 3.07091 7.12987C3.63856 5.75943 4.59986 4.58809 5.83323 3.76398C7.0666 2.93987 8.51664 2.5 10 2.5C12.1 2.5 14.1083 3.33333 15.6167 4.78333L17.5 6.66667M17.5 6.66667V2.5M17.5 6.66667H13.3333" stroke="#DBD8E3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
    </div>

    <button class="logout"> <a (click)="logout()" *ngIf="authService.isLoggedIn()">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.5 17.5H4.16667C3.72464 17.5 3.30072 17.3244 2.98816 17.0118C2.67559 16.6993 2.5 16.2754 2.5 15.8333V4.16667C2.5 3.72464 2.67559 3.30072 2.98816 2.98816C3.30072 2.67559 3.72464 2.5 4.16667 2.5H7.5M13.3333 14.1667L17.5 10M17.5 10L13.3333 5.83333M17.5 10H7.5" stroke="#DBD8E3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        </a>
    </button>

    <!--Dashboard-->
    <h1 class="txt-dashboard">Dashboard</h1>

    <!-- <button class="hang-button" (click)="minimizeAllTasks()">Minimize All</button> -->
    <!-- <div class="board-form-inner2" *ngIf="showForm">
        <app-kanban-create-task-form (taskCreated)="onTaskCreated($event)"></app-kanban-create-task-form>
    </div> -->
    
    <div class="right">
        <div class="kanban-board" cdkDropListGroup>
            <div *ngFor="let column of columns" cdkDropList [cdkDropListData]="getTasksByStatus(column.status)"
                class="example-list" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="connectedLists"
                id="cdk-drop-list-{{column.title}}">
                <div class="h2-container">
                    <h2>{{ column.title }}
                        <div class="column-lenght">
                            <h2>{{ getTasksByStatus(column.status).length }}</h2>
                        </div>
                    </h2>
                    <button class="add-icon" (click)="openCreateTaskModal()">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19M12 5V19" stroke="#DBD8E3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        <!-- {{ showForm? 'Minimize' : 'Add Task' }} -->
                    </button>
                </div>

                <div class="column-task">
                    <div *ngFor="let task of getTasksByStatus(column.status)" class="example-box" cdkDrag
                        [cdkDragData]="task">
                        <app-kanban-task-card [task]="task" (edit)="editTask(task)"
                            (delete)="confirmDeleteTask(task.id)"></app-kanban-task-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Update Task Modal -->
<div class="modal fade" id="updateTaskModal" tabindex="-1" aria-labelledby="updateTaskModalLabel" aria-hidden="true"
    cdkDrag>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" cdkDragHandle>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="taskToEdit">
                    <div class="board-form-inner2">
                        <app-kanban-update-task-form [task]="taskToEdit" (taskUpdated)="updateTask($event)"
                            (closeUpdateFormEvent)="closeUpdateForm()"></app-kanban-update-task-form>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<!-- Create Task Modal -->
<div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true"
    cdkDrag>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" cdkDragHandle>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="board-form-inner2">
                    <app-kanban-create-task-form (taskCreated)="onTaskCreated($event)"
                        (closeCreateFormEvent)="closeCreateForm()"></app-kanban-create-task-form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation Modal -->
<app-confirmation-modal [title]="confirmationTitle" [message]="confirmationMessage"
    (confirmed)="handleConfirmedAction()">
</app-confirmation-modal>