/* You can add global styles to this file, and also import other style files */
* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.area {
    position: absolute;
    top: 0;
}

.position-relative {
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

body,
.board-container,
.kanban-board-container {
    width: 100%;
    height: 100%;
}


.sticky-h2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

span {
    font-family: DM Sans;
    font-size: small;
    font-weight: 500;
    text-align: start;
}

.cdk-drag-preview {
    overflow: hidden;

}

/* pagination styles  */
.current {
    background: #f89938 !important;
    border-radius: 10% !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }