
form {
    width: 370px;
    padding-bottom: 100px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #393E46;
    font-family: Montserrat;
    letter-spacing: 0;
}

hr {
    color: #352F44;
    margin: 30px;
}

input,
textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #EEEEEE;
    color: #393E46;
    font-family: Montserrat;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    text-indent: 2px;
    font-weight: 400;
}

input:focus,
input:not(:placeholder-shown) {
 outline: none;
}

input#password {
    margin-bottom: 10px;
}

input[type="date"] {
    padding: 10px 10px 10px 20px;
    /* add some extra padding for the date picker icon */
}

textarea {
    height: 100px;
    resize: vertical;
}

/* Style the submit button */
button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #393E46;
    color: #F7F7F7;
    width: 100%;
    margin-top: 20px;
    font-family: Montserrat;
    font-weight: 500;
}

.span {
    color: #DBD8E3;
    font-family: Montserrat;
    letter-spacing: 0;
    text-align: center;
    margin-top: -10px;
}

.submit1 {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #DBD8E3;
    color: #393E46;
    width: 100%;
    font-family: Montserrat;
    font-weight: 600;
    margin-top: 10px;
}


.sticky button+button {
    margin-left: 10px;
}

.board-form {
    width: 400px;
    margin-right: 5px;
}

.board-form-inner1,
.board-form-inner2 {
    height: 100%;
    background-color: none;
}


.board-form-inner2 {
    display: flex;
    align-content: center;
    align-items: center;
}


.form-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.body {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background: #F7F7F7;
    width: auto;
    height: 810px;
}

.txt {
    color: #393E46;
    font-family: Montserrat;
    font-weight: 600;
    position: relative;
    text-align: center;
}