<div class="body">

    <div class="form-container">

        <div class="board-form-inner2">

            <form class="sticky" [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="header">
                    <h1 class="txt">Sign Up</h1>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input id="email" formControlName="email" type="email">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" formControlName="password" type="password">
                </div>
                <button type="submit">Continue</button>
                <hr>
                <p class="span">Already have an account?</p>
                <button class="submit1" (click)="goToLogin()">Log In</button>
            </form>
        </div>
    </div>

</div>