/* Add some basic styling to the form */
form {
    width: 400px;
    padding: 20px;
    height: 100%;
}

/* Style the labels and inputs */
label {
    display: block;
    margin-bottom: 2px;
    font-weight: medium;
    color: #DBD8E3;
    font-family: DM Sans;
    font-size: small
}


input:focus,
input:not(:placeholder-shown) {
 color: #2A2438;
 outline: none;
}

input,
textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: DM Sans;
    color: #2A2438;
    background-color: #DBD8E3;
}

.nametask {
    color: #DBD8E3;
    font-family: DM Sans;
    font-weight: 600;
    position: relative;
    left: 60px;
    top: -10px;
    margin-top: -10px;
}

input[type="date"] {
    padding: 10px;
    /* add some extra padding for the date picker icon */
}

textarea {
    height: 100px;
    resize: vertical;
}

/* Style the submit button */
button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2A2438;
    border: none;
    color: #DBD8E3;
    font-family: DM Sans;
    font-size: small;
    font-weight: 600;
    position: relative;
    left: 110px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 150px;
}


/* Make the form responsive */
@media (max-width: 600px) {
    form {
        margin: 20px;
    }
}