<form class="sticky" [formGroup]="taskForm" (ngSubmit)="saveTask()">
    <div>
        <label for="taskName">Task Name</label>
        <input id="taskName" formControlName="taskName">
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" formControlName="description"></textarea>
    </div>
    <div>
        <label for="createdDate">Start Date</label>
        <input type="date" id="createdDate" formControlName="createdDate">
    </div>
    <div>
        <label for="dueDate">Due Date</label>
        <input type="date" id="dueDate" formControlName="dueDate">
    </div>
    <button type="submit">Update</button>
</form>