.task-card {
    background-color: #50577A;
    border-radius: 5px;
    padding: 10px;
    width: 100%; 
    height: auto;
    cursor: move;
    border: none;
    margin-bottom: 10px;
    left: 0; 
    color: #EEF7FF;
    top: 15px;
}

/* Add media queries to make the task card responsive */
@media (max-width: 768px) {
    .task-card {
        padding: 15px;
        width: 90%; /* adjust width for smaller screens */
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .task-card {
        padding: 10px;
        width: 80%; /* adjust width for even smaller screens */
        margin-bottom: 15px;
    }
}

.task-card h2.expand {
    font-weight: 600;
    cursor: pointer;
    font-size: medium;
    left: -1px;
    position: relative;
    margin-bottom: -5px;
    font-family: Montserrat;
}

.urgent {
    border: 2px solid orange;
}


.hide {
    display: none;
}


.duedate {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-family: montserrat;
    color: indianred;
    border-radius: 5px;
    left: 10px;
    font-size: 10px;
    padding: 2px;
    background-color: #6B728E;
    top: -10px;
}

.button-edit {
    position: absolute;
    top: 5px;
    right: 30px; 
}

.button-delete {
    position: absolute;
    top: 5px;
    right: 5px;
}


.done-duedate {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: x-small;
    font-family: montserrat;
    color: #DBD8E3;
    border-radius: 10px;
    top: 10px;
    left: 20px;
}

.task-card {
    position: relative;
}

.backlog {
    border: 2px solid indianred;
}

.task-card button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}



p, b {
    color: #18122B  ;
    font-family: montserrat;
    font-size: x-small;
    font-weight: 600;
    text-align: start;
    margin-bottom: 2px;
    text-align: start;
}