/* Add some basic styling to the task card */
.task-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    cursor: move;
    margin-top: 20px;
    border: 1px solid #042145;
}

.task-card h2.expand {
    font-weight: bold;
    cursor: pointer;
}

.urgent {
    border: 5px solid #ff7300;
    background-color: #fff;

    h2 {
        color: rgb(42, 42, 42);
    }

    p.urgent-p {
        color: rgb(42, 42, 42);
    }

    p {
        color: rgb(42, 42, 42);
    }

    hr {
        background-color: rgb(42, 42, 42);
    }

}

.done {

    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #82aa38;
    border: 5px solid #fff;
    top: -10px;
    left: -10px;

}

.hold {

    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #90720e;
    border-color: #fff;
    top: -10px;
    right: -10px;

}

.hide {
    display: none;
}

.backlog-circle {

    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
    border-color: #fff;
    top: -10px;
    right: -10px;

}

.duedate {
    position: absolute;
    width: fit-content;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #4dc900;
    top: -10px;
    left: -10px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 0 10px 0 10px;

    p {
        padding: 0;
        margin: 0;
        padding-top: 4px;
        color: #000000;
    }
}

.button-edit {
    position: absolute;
    top: -10px;
    right: 30px;
}

.button-delete {
    position: absolute;
    top: -10px;
    right: -10px;
}

.time {
    position: absolute;
    top: -10px;
    right: 80px;
    width: fit-content;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #4dc900;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 0 10px 0 10px;

    p {
        padding: 0;
        margin: 0;
        padding-top: 4px;
        color: #000000;
    }
}


.done-duedate {
    position: absolute;
    width: fit-content;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #4dc900;
    top: -10px;
    left: 30px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 0 10px 0 10px;

    p {
        padding: 0;
        margin: 0;
        padding-top: 4px;
        color: #000000;
    }
}

.task-card {
    position: relative;
}

.backlog {
    border: 5px solid rgb(132, 0, 0);
    background-color: #fff;

    h2 {
        color: rgb(42, 42, 42);
    }

    p.urgent-p {
        color: rgb(42, 42, 42);
    }

    p {
        color: rgb(42, 42, 42);
    }

    hr {
        background-color: rgb(42, 42, 42);
    }
}

.task-card button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #207209;
    color: #ffffff;
}

.task-card button:hover {

    background-color: #ffffff;
    border: 1px solid #207209;
    color: #207209;
    transform: scale(1.1);
}

.task-card button+button {
    margin-left: 10px;
}

h2.expand {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

/* Make the task card responsive */
@media (max-width: 600px) {
    .task-card {
        width: 200px;
        margin: 10px 5px;
    }
}