/* Add some basic styling to the task card */
.task-card {
    background-color: #718355;
    border-radius: 0px;
    padding: 20px;
    width: 414px;
    height: auto;
    cursor: move;
    border: none;
    margin-bottom: 5px;
    left: -30px;
    color: #E9F5DB;
}

.task-card h2.expand {
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
    left: -1px;
    position: relative;
    margin-bottom: 2px;
}

.urgent {
    border: 4px solid orange;
    background-color: #CFE189;
}


.hide {
    display: none;
}


.duedate {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: x-small;
    font-family: montserrat;
    color: indianred;
    border-radius: 0px;
    left: 20px;
    background-color: lightsalmon;
    top: -10px;
}

.button-edit {
    position: absolute;
    top: 5px;
    right: 50px; 
    border-radius: 20px;
    background-color: #333333;
}

.button-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 20px;
    background-color: #333333;
}


.done-duedate {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: x-small;
    font-family: montserrat;
    color: #DBD8E3;
    border-radius: 10px;
    top: 10px;
    left: 20px;
}

.task-card {
    position: relative;
}

.backlog {
    border: 4px solid indianred;
    background-color: #97A97C;
}

.task-card button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}



p, b {
    color: #333333;
    font-family: montserrat;
    font-size: small;
    font-weight: 600;
    text-align: start;
    margin-bottom: 2px;
    text-align: start;
}